body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to left, rgb(255, 0, 255), rgb(255, 165, 0), rgb(0, 139, 139), rgb(255, 215, 0));
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.roll {
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
}

@media (min-width:700px) {
  h1 {
    font-size: 45px;
    display: flex;
    gap: 8px;
  }

  .roll {
    width: 50px;
    text-align: center;
    margin-left: 2px;
    border-radius: 50%;
    padding: 8px;
  }
}

@keyframes jumps {
  from {
    transform: translateY(0);
    opacity: 0.3;
  }

  to {
    transform: translateY(-40px);
    opacity: 1;
  }
}

@keyframes jumper {
  from {
    transform: translateY(-40px);
    opacity: 1;
  }

  to {
    transform: translateY(0));
    opacity: 0.4;
  }
}

.h {
  background-color: purple;
  color: gold;
  animation: jumps 2s;
}

.a {
  background-color: darkblue;
  color: tomato;
  animation: jumps .5s;
}

.l {
  background-color: lightblue;
  color: pink;
  animation: jumps 2s;
}

.f {
  background-color: green;
  color: violet;
  animation: jumps 2s;
}

.s {
  background-color: yellow;
  color: blue;
  animation: jumps 2s;
}

.i {
  background-color: orange;
  color: aqua;
  animation: jumps .4s;
}

.n {
  background-color: red;
  color: white;
  animation: jumps 2s
}

.questions {
  font-size: 60px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bolder;
  color: rgb(25, 25, 112);
  padding-top: 40px;
  margin: 0 auto;
}

.naviclass>a {
  color: rgb(124, 252, 0);
  font-size: 25px;
  background-color: rgb(0, 206, 209);
  text-decoration: none;
  padding: 2px 26px;
  border-radius: 14px;
  transition: 1s;
}

li {
  list-style-type: none;
}

.navi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

@media (min-width:700px) {
  .navi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.merch {
  text-align: center;
  margin: 50px 35px;
}

.image-left {
  height: 500px;
  width: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  border-radius: 20px;
}

.image-text {
  color: rgb(186, 85, 211);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(255, 235, 205);
}

a:hover {
  position: relative;
  bottom: 4px;
  color: red;
  transition: 1s;
}

.tshirt-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

input[type=text] {
  width: 200px;
  height: 30px;
}

textarea {
  height: 100px;
  width: 200px;
}

#cvv {
  margin-right: 20px;
}

.hahatee {
  font-size: 22px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 10px bold;
  color: rgb(175, 238, 238);
}

.right-small-image {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

@media (min-width:800px) {
  .pop {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .everyone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  h3 {
    display: block;
    color: rgb(253, 245, 230);
    margin-top: 0;
  }

  .product {
    width: 30%;
  }
}

@media (max-width:700px) {
  .image-left {
    width: 300px;
  }

  .everyone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* width: 300px; */
  }

  h3 {
    display: none;
  }
}

@media (max-width:500px) {
  .everyone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.everyone {
  cursor: pointer;
}

.product {
  text-align: justify;
  color: rgb(25, 25, 112);
}

h2 {
  font-size: 28px;
  color: rgb(128, 0, 128);
  font-family: 'Fjalla One', sans-serif;
}

span>a {
  text-decoration: none;
  font-size: 22px;
  color: violet;
}

.buy {
  margin-top: 30px;
}

.size {
  display: none;
}

.credit {
  padding-left: 20px;
  background-color: rgb(255, 99, 71);
  font-size: 24px;
  text-align: center;
}

.credit {
  color: rgb(139, 0, 139);
}

.credit>a {
  text-decoration: none;
  color: rgb(255, 235, 205);
  transition: 1s;
}

a:hover {
  position: relative;
  bottom: 5px;
  color: red;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 35px;
}

@media (max-width:800px) {
  .poc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.poc {
  display: flex;
}

legend {
  font-size: 22px;
  color: rrgb(0, 0, 205);
}

label {
  color: rgb(0, 0, 205);
  font-size: 20px;
}

#mailing-list, button {
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  border: solid rgb(220, 220, 220);
  margin-top: 5px;
}

button {
  width: 100px;
  margin-right: 20px;
}

#mailing-list {
  width: 250px;
  margin-right: 10px;
}

small {
  color: rgb(0, 0, 205);
}

.fa {
  padding: 10px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  display: inline;
  color: navy;
  text-decoration: none;
}

.acknowledge {
  font-size: 22px;
  padding: 20px;
  color: rgb(0, 0, 205);
  margin-bottom: 20px;
}